body
{
  background-color: #D7DFE2;
  margin:0px;
  padding:0px;
}

#main 
{
  width: 900px;
  height: 100%;
  background-color: #ffffff;
  margin-left:auto;
  margin-right:auto;
  padding: 0px;
}

#main p
{
  padding: 0px 20px 0px 20px;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  text-align:justify;
}

#main h2
{
  font-size: 24px;
  padding: 0px 20px 0px 20px;
  font-family:Arial, Helvetica, sans-serif;
  border-width:5px;
}

#main h3
{
  font-size: 20px;
  font-variant: small-caps;
  padding: 5px 20px 5px 20px;
  font-family:Arial, Helvetica, sans-serif;
  border-color:red;
  color: #ffffff;
  background-color: #D71111;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 0.0em;
  margin-left: 1.0em;
  margin-right: 1.0em;
}

#main h4
{
  font-size: 20px;
  font-variant: small-caps;
  padding: 5px 20px 5px 20px;
  font-family:Arial, Helvetica, sans-serif;
  color: #007edf;
  margin-top: 0.3em;
  margin-bottom: 0.1em;
}

#main tr
{
  vertical-align: middle
}

#menu {
  width:auto;
  height:auto;
  padding: 10px 10px 10px 10px;
}

#menu a {
  font-size:16;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

#title{
  width:900px;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  height:auto;
  color: #ffffff;
  background-color:#416271;
  font-family:Arial, Helvetica, sans-serif;
}

#title h1 {
  text-align:center;
  padding: 20px;
  margin-top: 0.1em;
  margin-bottom: 0.0em;
  font-size:30;
}

.box-right {
  font-family:Arial, Helvetica, sans-serif;
  color: #ffffff;
  width: 450px;
  height: auto;
  float: right;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
  background-color: #50a842;
  margin-left: 1.0em;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  text-align:justify;
}

.box-right h1 {
  text-align: center;
  font-size: 24px;
  font-variant: small-caps;
  margin-top: 0.0em;
  margin-bottom: 0.7em;
}

.box-left {
  font-family:Arial, Helvetica, sans-serif;
  color: #ffffff;
  width: 450px;
  height: auto;
  float: left;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  background-color: #50a842;
  margin-right: 1.0em;
  text-align:justify;
}

.box-left h1 {
  text-align: center;
  font-size: 24px;
  font-variant: small-caps;
  margin-top: 0.0em;
  margin-bottom: 0.7em;
}

.pad
{
  padding: 20px;
}

.box
{
  width: auto;
  height: auto;
  float: left;
  padding: 7px;
  color: #ffffff;
  background-color:#416271;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 1.0em;
  margin-right: 1.0em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.emphasis
{
  font-family:Arial, Helvetica, sans-serif;
  font-size: +2;
}
